<nav class="navbar navbar-toggleable-xl">
  <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/sitelogo.png" width="30" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">

          <ul class="mr-auto"></ul>
              <ul class="nav nav-pills">

                  <li class="nav-item">

                      <button class="btn btn-primary" [routerLink]="['/reporterror']"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report Error</button>
                    </li>

                  <li class="nav-item">
                    <a *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/manager']">Manage Channels</a>
                  </li>

                  <li class="nav-item">
                      <a *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/device-manager']">Manage Devices</a>
                    </li>

                  <li class="nav-item">
                    <a *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/login']">Login</a>
                  </li>
                  <li class="nav-item">
                      <a (click)="logOut()" *ngIf="isLoggedIn" class="nav-link">Logout</a>
                    </li>
              </ul>

        </div>
  </div>
</nav>
