.navbar {
  z-index: 10;
  top: -60px;
  transition: all 0.5s;

  &.navbarHide {
    top: 0px
  }

  &.navbarBackground {
    background: rgba(0, 0, 0, 0.5);
  }
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
  padding: 0;
  line-height: 2.5rem;
  outline: none;
  color: white;
}

.navbar-brand {

  img {
    height: 40px;
    width: auto;
    line-height: 1rem;
  }

}
