@import "~sass/variables";

footer {
  background: $primary-color;
  color: white;
  padding: 30px 0px;
  font-size: .9rem;

}

.container {

  .angular {
    display: block;
    margin-top: 10px;

    img {
      height: 20px;
      margin-right: 10px;
    }
  }


  .share {
    text-align: right;
  }
}


.sb-style {
  margin: 0px !important;
}
