<footer>
    <div class="container">

      <div class="row">
        <div class="col-md-6">
            <p class="copyright">
                Copyright BuchmannDesign 2017<br />
                <span class="angular">
                    <img src="assets/angular.png" alt="angular logo"> Powered by <a href="https://angular.io">Angular</a>
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <div class="share">
                <share-buttons [reddit]="false" [stumbleUpOn]="false" [linkedIn]="false" [tumblr]="false" [whatsApp]="false"></share-buttons>
            </div>
        </div>
      </div>

      </div>

    </footer>



