<div class="container">
    <div class="card">
      <div class="card-body">

        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <h2>Report a channel or service error</h2>
          <p>The channels for each service or device could change without notice.</p>
          <p>If you notice that there is a mistake in the channel selection, please let us know and we will correct it soon. Thanks!</p>
          <div class="form-group">

              <textarea
                class="form-control"
                ngModel
                name="description"
                id="description"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Thank you!</button>
      </form>
      </div>
    </div>
  </div>
