<section class="intro-text">
    <div class="container">
        <h2>Which Live TV Streaming service is right for you?</h2>
        <p>Between DirectTV Now, Youtube TV, Sling TV, Playstation Vue, Hulu Live, and Fubo TV, which live TV streaming service is right for you? Find out now by choosing the channels below that you can't live without. <a (click)="open(content)">(Disclaimer)</a></p>

    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Woah, don't get too excited!</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Before buying into one of these cord cutting TV services, always double-check to make sure the channels you need are included. These services can potentially add or remove channels at any time. We do try our best to keep this site up to date, but if you find any errors, please contact us. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Got it!</button>
        </div>
      </ng-template>
  </section>

<section *ngIf="!noResults" class="quickresults" [@animateQuickResults]>
  <div class="container">

      <div class="quickresults-wrapper">
          <div *ngIf="hulu.length > 0; then checkhulu else crosshulu"></div>
                <ng-template #checkhulu><span><i class="fa fa-check"></i> Hulu</span></ng-template>
                <ng-template #crosshulu><span class="times"><i class="fa fa-times"></i> Hulu</span></ng-template>


          <div *ngIf="sling.length > 0; then checksling else crosssling"></div>
                  <ng-template #checksling><span><i class="fa fa-check"></i> Sling TV</span></ng-template>
                  <ng-template #crosssling><span class="times"><i class="fa fa-times"></i> Sling TV</span></ng-template>


          <div *ngIf="youtube.length > 0; then checkyoutube else crossyoutube"></div>
                  <ng-template #checkyoutube><span><i class="fa fa-check"></i> Youtube TV</span></ng-template>
                  <ng-template #crossyoutube><span class="times"><i class="fa fa-times"></i> Youtube TV</span></ng-template>


          <div *ngIf="directtv.length > 0; then checkdirecttv else crossdirecttv"></div>
                  <ng-template #checkdirecttv><span><i class="fa fa-check"></i> DirectTV Now</span></ng-template>
                  <ng-template #crossdirecttv><span class="times"><i class="fa fa-times"></i> DirectTV Now</span></ng-template>


          <div *ngIf="vue.length > 0; then checkvue else crossvue"></div>
                  <ng-template #checkvue><span><i class="fa fa-check"></i> Playstation Vue</span></ng-template>
                  <ng-template #crossvue><span class="times"><i class="fa fa-times"></i> Playstation Vue</span></ng-template>


          <div *ngIf="fubo.length > 0; then checkfubo else crossfubo"></div>
                  <ng-template #checkfubo><span><i class="fa fa-check"></i> Fubo TV</span></ng-template>
                  <ng-template #crossfubo><span class="times"><i class="fa fa-times"></i> Fubo TV</span></ng-template>

      </div>
      <button *ngIf="!noResults" type="button" class="btn viewdetailsbutton" (click)="onClickDetails()">
          {{ viewDetailsButtonText }}
      </button>

      <section *ngIf="!noResults" class="results">
          <div [@collapse]="state">
              <div id="details">
                  <div id="results">
                      <div class="card" *ngIf="hulu.length > 0">
                          <app-service-results  [device]="hulu" [deviceLogo]="huluLogo" [deviceName]="huluName"></app-service-results>
                      </div>

                      <div class="card" *ngIf="sling.length > 0">
                          <app-service-results  [device]="sling" [deviceLogo]="slingLogo"  [deviceName]="slingName"></app-service-results>
                      </div>

                      <div class="card" *ngIf="youtube.length > 0">
                          <app-service-results  [device]="youtube" [deviceLogo]="youtubeLogo"  [deviceName]="youtubeName"></app-service-results>
                      </div>

                      <div class="card" *ngIf="directtv.length > 0">
                          <app-service-results  [device]="directtv" [deviceLogo]="directtvLogo" [deviceName]="directtvName"></app-service-results>
                      </div>

                      <div class="card" *ngIf="vue.length > 0">
                          <app-service-results  [device]="vue" [deviceLogo]="vueLogo" [deviceName]="vueName"></app-service-results>
                      </div>

                      <div class="card" *ngIf="fubo.length > 0">
                          <app-service-results  [device]="fubo" [deviceLogo]="fuboLogo" [deviceName]="fuboName"></app-service-results>
                      </div>
                  </div>
                </div>
            </div>
          </section>
  </div>
</section>

<section *ngIf="noResults && countChecked > 0">
    <div class="container">
        <div class="alert alert-danger">
            <span>There are no services with your chosen channels.</span>
        </div>
    </div>
</section>



<section class="channels">
    <ul class="channels">
        <li *ngFor="let c of allChannels; let index = index">
          <input type="checkbox" [id]="c.name" (change)="onChannelClick($event, c, index)">
          <label placement="top" ngbTooltip="{{ c.name }}" class="channelicon"
            [for]="c.name"
            [ngStyle]="{'background-image': 'url(' + c.image + ')'}">

          </label>
        </li>
    </ul>
</section>



