/* You can add global styles to this file, and also import other style files */
body {
    background: #212121;
}


/* Forms */

form h2 {
  margin-bottom: 30px;
}

.card {
  margin-top: 40px;
}

.card-body {
  padding: 30px;
}



