
<section *ngIf="!noChannelResults" class="quickresults" [@animateQuickResults]>
  <div class="container">
      <div class="quickresults-wrapper">
          <div *ngIf="RokuHasChannels.length > 0; then checkroku else crossroku"></div>
          <ng-template #checkroku><span><i class="fa fa-check"></i> Roku</span></ng-template>
          <ng-template #crossroku><span class="times"><i class="fa fa-times"></i> Roku</span></ng-template>

          <div *ngIf="AppleTvHasChannels.length > 0; then checkappletv else crossappletv"></div>
          <ng-template #checkappletv><span><i class="fa fa-check"></i> Apple TV</span></ng-template>
          <ng-template #crossappletv><span class="times"><i class="fa fa-times"></i> Apple TV</span></ng-template>
      </div>

      <button *ngIf="!noChannelResults" type="button" class="btn viewdetailsbutton" (click)="onClickDetails()">
          {{ viewDetailsButtonText }}
      </button>

      <section *ngIf="!noChannelResults" class="results">
        <div [@collapse]="state">
            <div id="details">
                <div id="results">
                    <div class="card" *ngIf="RokuHasChannels.length > 0">
                        <app-device-results  [itemsArray]="RokuHasChannels" [deviceName]="RokuName"></app-device-results>
                    </div>

                    <div class="card" *ngIf="AppleTvHasChannels.length > 0">
                        <app-device-results  [itemsArray]="AppleTvHasChannels" [deviceName]="AppleTvName"></app-device-results>
                    </div>
                </div>
              </div>
          </div>
        </section>
  </div>
</section>

<section *ngIf="noChannelResults && countChecked > 0 && whichTab == 'channels'">
    <div class="container aaa">
        <div class="alert alert-danger">
            <span>There are no streaming devices with these channels.</span>
        </div>
    </div>
</section>






<section *ngIf="!noFeatureResults" class="quickresults" [@animateQuickResults]>
    <div class="container">
        <div class="quickresults-wrapper">
            <div *ngIf="RokuHasFeatures.length > 0; then checkroku else crossroku"></div>
            <ng-template #checkroku><span><i class="fa fa-check"></i> Roku</span></ng-template>
            <ng-template #crossroku><span class="times"><i class="fa fa-times"></i> Roku</span></ng-template>

            <div *ngIf="AppleTvHasFeatures.length > 0; then checkappletv else crossappletv"></div>
            <ng-template #checkappletv><span><i class="fa fa-check"></i> Apple TV</span></ng-template>
            <ng-template #crossappletv><span class="times"><i class="fa fa-times"></i> Apple TV</span></ng-template>
        </div>

        <button *ngIf="!noFeatureResults" type="button" class="btn viewdetailsbutton" (click)="onClickDetails()">
            {{ viewDetailsButtonText }}
        </button>

        <section class="results">
              <div [@collapse]="state">
                  <div id="details">
                      <div id="results">
                          <div class="card" *ngIf="RokuHasFeatures.length > 0">
                              <app-device-results  [itemsArray]="RokuHasFeatures" [deviceName]="RokuName"></app-device-results>
                          </div>
                          <div class="card" *ngIf="AppleTvHasFeatures.length > 0">
                              <app-device-results  [itemsArray]="AppleTvHasFeatures" [deviceName]="AppleTvName"></app-device-results>
                          </div>
                      </div>
                </div>
              </div>
          </section>
    </div>
  </section>

<section *ngIf="noFeatureResults && countChecked > 0 && whichTab == 'features'">
  <div class="container">
      <div class="alert alert-danger">
          <span>There are no streaming devices with these features.</span>
      </div>
  </div>
</section>







<section class="channels-and-features">
  <ngb-tabset justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle>
            <div (click)="channelsTabClick()">By Channels</div>
        </ng-template>
        <ng-template ngbTabContent>
            <ul class="channels">
                <li *ngFor="let c of allDeviceChannels; let index = index">
                  <input type="checkbox" [id]="c" (change)="onChannelClick($event, c, index)">
                  <label placement="top" ngbTooltip="{{ c }}" class="channelicon"
                    [for]="c"
                    [ngStyle]="{'background-image': 'url(assets/logos/' + c + '.png)'}">
                  </label>
                </li>
            </ul>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>
            <div (click)="featuresTabClick()">By Features</div>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="features">
                <div *ngFor="let f of allDeviceFeatures; let index = index">
                  <label [for]="f.key">
                      <input name="feature" type="checkbox" [id]="f.key" (change)="onFeatureClick($event, f, index)">
                      {{ f.status }}
                  </label>
                </div>
              </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>

</section>

