.mode {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

  .mode a {
    display: block;
  }

.services, .devices {
  width: 300px;
  height: 200px;
  background: white;
}

  .services {
    margin-right: 15px;
  }

  .devices {
    margin-left: 15px;
  }
