.mode {
  transform: scale(0.7);
  background: #292929 url('../../assets/crystals.png');

}


  @media(min-width: 468px) {
    .mode {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      padding: 80px 0;
    }
  }

a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

  .services, .devices {
    position: relative;
    height: 270px;
    width: 400px;
    padding: 10px;
    perspective: 200px;
    opacity: 0.4;
    transform: scale(0.9);
  }

  .services {
    margin-right: -30px;
  }

  .devices {
    margin-left: -30px;
  }


  .inner {
    width: 400px;
    height: 270px;
    position: absolute;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: all 2s;
    border: 2px solid #212121;
  }

  h2 {
    font-size: 1.3rem;
    position: relative;
    top: 30px;
  }

  .services .inner h2 {
    margin-left: 150px;
    text-align: left;
  }

  .devices .inner h2 {
    margin-right: 150px;
    text-align: right;
  }

  .services.active .inner, .devices.active .inner {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
    border: 5px solid #FE7D00;
    transform: rotateY(0deg);
  }

  .active {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
  }

  .services .inner {
    /* transform: rotate3D(1, 1, 0, -7deg); */
    transform: rotateY(10deg);
  }

    .services .inner:hover {
      transform: rotateY(0deg);
    }

  .devices .inner {
    transform: rotateY(10deg);
  }

    .devices .inner:hover {
      transform: rotateY(0deg);
    }

  .services .inner img {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .devices .inner img {
    position: absolute;
    top: 0px;
    right: 0px;
  }

