<section class="mode">



          <div class="services" routerLinkActive="active">
            <div class="inner">
              <h1>Live TV Services</h1>
                <a [routerLink]="['/services']"  >
                <img src="assets/services.png" alt="">

                  <h2>
                    DirectTV Now<br>
                    <span>vs</span><br>
                    Youtube TV<br>
                    <span>vs</span><br>
                    Sling TV<br>
                    <span>vs</span><br>
                    Playstation Vue<br>
                    <span>vs</span><br>
                    Hulu Live TV<br>
                    <span>vs</span><br>
                    Fubo TV
                  </h2>
                </a>
            </div>
          </div>

          <div class="devices" routerLinkActive="active">
            <div class="inner">
                <h1>Streaming Devices</h1>
                <a [routerLink]="['/devices']">
                  <img src="assets/devices.png" alt="">
                    <h2>
                      Apple TV<br>
                      <span>vs</span><br>
                      Roku<br>
                      <span>vs</span><br>
                      Chromecast<br>
                      <span>vs</span><br>
                      Amazon Fire TV<br>
                      <span>vs</span><br>
                      nVidia Shield
                    </h2>
                  </a>
            </div>
          </div>

</section>

<router-outlet></router-outlet>
