// section.channels-and-features, section.channels {
//   background: white;
// }

section {

  &.intro-text {
    background: silver;
  }

  &.quickresults {
    background: #212121;
  }

  &.channels-and-features, &.channels {
    background: white;
  }

  &.results {
    padding: 0px;

      .card {
        margin-top: 30px;
        transition: all 0.5s;
        border: none;
        width: 250px;

        &:hover {
          transform: scale(1.025);
        }
      }

      > div {
        overflow: hidden;
      }


      img.channellogo {
        width: 30px;
        height: 30px;
      }
  }
}








@media(min-width: $breakpoint-sm) {
  #results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(min-width: $breakpoint-xl) {
  #results {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

  .card {
    margin: 0 5px 10px 5px;
  }





/* channel/app logos */

ul.channels {
margin: 0px;
padding-top: 10px;
padding-bottom: 0px;
margin-bottom: 0px;
background: #FFFFFF;
text-align: center;
}

ul.channels li {
list-style: none;
display: inline-block;
margin-right: 10px;
}

ul.channels input[type=checkbox] {
display:none;
}

ul.channels label {
background: #DCDCDC;
}



input[type=checkbox] + label {
height: 60px;
width: 60px;
display:inline-block;
padding: 0 0 0 0px;
background-size: contain;
border: 5px solid white;
transition: all .3s;
cursor: pointer;
}

input[type=checkbox]:hover + label {
  transform: scale(1.1);
  }

input[type=checkbox]:checked + label {
display:inline-block;
padding: 0 0 0 0px;
border: 5px solid $accent-color;
}






.quickresults-wrapper {
  margin-bottom: 30px;
}

.quickresults i {
  font-size: 30px;
}

.quickresults span {
  color: white;
  padding: 0 20px;
  white-space: nowrap;
}

.quickresults span.times {
  color: #717171;
}

.quickresults span .fa-check {
  color: $accent-color;
}

.viewdetailsbutton {
background: $accent-color;
color: white;
}



/* device logo, hover, and Amazon button */

.device-logo {
  position: relative;
}

  .device-logo__overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  .device-logo:hover .device-logo__overlay {
    opacity: 1;
  }

  .device-logo__overlay__btn,
  .device-logo__overlay__btn:hover,
  .amazon-link-mobile,
  .amazon-link-mobile:hover {
    text-decoration: none;
    background: $accent-color;
    padding: 10px 20px;
    color: white;
  }

    .device-logo__overlay__btn i {
      font-size: 1.2rem;
    }


.amazon-link-mobile {
  display: block;
  margin-bottom: 15px;
}

  @media(min-width: 991px) {
    .amazon-link-mobile {
      display: none;
    }
  }

