body {
  background: $primary-color;
}

section {
  padding: 30px 0;
  text-align: center;
}

main {
  background: white;
  padding: 30px;
  margin-top: 120px;
  margin-bottom: 60px;

  h2 {
    margin-bottom: 30px;
  }
}



